
/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
.env*
!.env*.default
.vscode/*
!.vscode/settings.json.default

cache/
artifacts/

.yalc
yalc.lock

# IntelliJ
.idea

# macOS environment
.DS_Store
*/.DS_Store

config.local.js

tests/coder-test.js
tests/nft-test.js
